<header>
    <div class="logo">Whack-a-Mole</div>
    <nav>
        <ul>
            <li>
                <a asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li>
                <a asp-controller="Account" asp-action="Index">Personal account</a>
            </li>
        </ul>
    </nav>
</header>