<div id="confirmationModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <label for="code">Enter code:</label>
        <form id="AccountConfirmationForm">
            <input id="CodeConfirmation" type="text" maxlength="4">
            <button class="btn-submit" id="submitConfirmationCode">Подтвердить</button>
        </form>
    </div>
</div>