<div id="forgotPasswordModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Enter the email address you provided during registration</h2>
        <form id="ForgotPasswordForm">
            <input type="email" placeholder="Email" id="EmailForgotPasswordForm" required>
            <button type="submit" class="btn-submit">Submit</button>
        </form>
    </div>
</div>