@{
    ViewData["Title"] = "Registration";
}

<div class="container">
    <div class="registration-box">
        <h2>Register</h2>
        <form action="" method="post" id="RegistrationForm">
            <div class="textbox">
                <input type="text" placeholder="Login" id="Login" required>
            </div>
            <div class="textbox">
                <input type="password" placeholder="Password" id="Password" required>
            </div>
            <div class="textbox">
                <input type="password" placeholder="Repeat Password" id="RepeatPassword" required>
            </div>
            <div class="textbox">
                <input type="email" placeholder="Email" id="Email" required>
            </div>
            <div class="textbox">
                <input type="tel" placeholder="+7 (___) ___-__-__" id="PhoneNumber" name="phone" required>
            </div>
            <div class="button-group">
                <button type="submit" class="btn-register-blue">Registration</button>
                <a asp-controller="Account" asp-action="Login" class="btn-back-to-login">Back to Login</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script defer src="~/js/registration.js" asp-append-version="true"></script>
}