@{
    ViewData["Title"] = "Whac a Mole";
}

@section Styles {
    <link rel="stylesheet" href="~/css/mole.css" asp-append-version="true" />
}

<h1>Whac a Mole</h1>
<div id="scores"></div>
<div id="board"></div>

@section Scripts {
    <script src="~/js/mole.js"></script>
}
