@{
    ViewData["Title"] = "Whac a Mole";
    Layout = null;
}

<link rel="stylesheet" href="~/css/mole.css" asp-append-version="true" />
<script src="~/js/mole.js"></script>

<h1>Whac a Mole</h1>
<div id="scores"></div>
<div id="board"></div>
